<!DOCTYPE html>
<html>
  <head>
    <script> window.location.replace("/"); </script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>Сайт использует JavaScript</title>
  </head>
<body style="background: -o-linear-gradient(-80deg, #0bd450, #fc98f1, #f6b735);
              background: linear-gradient(-80deg, #0bd450, #fc98f1, #f13966, #f6b735);
             background-size: 2000% 2000%;
              -webkit-animation: Gradient 5s ease infinite;
             animation: Gradient 5s ease infinite;" oncontextmenu="return false;"><br>
  <style>
    @-webkit-keyframes Gradient {
      0% {
        background-position: 0% 50%
      } 50% {
          background-position: 100% 50%
        } 100% {
            background-position: 0% 50%
          }
    } @keyframes Gradient {
        0% {
          background-position: 0% 50%
        } 50% {
            background-position: 100% 50%
          } 100% {
              background-position: 0% 50%
            }
    }
  </style>
  <div align="center" style="padding-top: 330px;">
    <div style="padding: 22px 0px 18px 0px;
                 position: relative;
                bottom: 100px;
                 background-color: #B0E0E6;
                max-width: 450px;
                 -webkit-box-shadow: 0px 0px 20px 0px #DCDCDC;
                box-shadow: 0px 0px 20px 0px #DCDCDC;
                 border: 4px solid #AFEEEE;
                border-radius: 60px;">
      <b style="text-align: center;
                font-size: 19px;
                 color: #895c5c;
                -moz-user-select: none;
                 -webkit-user-select: none;
                -ms-user-select: none;
                 -o-user-select: none;">Сайт использует&#160;</b><b style="font-family: sans; font-size: 20px; color: #ff8400;">Java</b><b style="font-family: sans; font-size: 20px; color: #ed3939;">Script</b>
    </div>
    <div style="z-index: -1;
                 position: relative;
                bottom: 150px;
                 padding: 58px 0px 15px 0px;
                background-color: white;
                 max-width: 300px;
                -webkit-box-shadow: 0px 0px 150px 0px #DCDCDC;
                 box-shadow: 0px 0px 150px 0px #DCDCDC;
                border: 4px solid #E6E6FA;
                 border-radius: 60px;">
      <b style="color: #696969;
                 font-size: 15px;
                -moz-user-select: none;
                 -webkit-user-select: none;
                -ms-user-select: none;
                 -o-user-select: none;">Чтобы перейти на сайт,<br>включите JavaScript</b>
    </div>
  </div>
</body>
</html>